.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    background: rgba(0, 0, 0, 0.5);
}

.modal.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__content {
    padding: 25px;
    background-color: white;
    border-radius: 16px;
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal__title, .modal__description {
    width: 80%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid black;
    font-family: 'Roboto';
    font-size: 22px;
    font-weight: 300;
}

@media (max-width: 590px) {
    .modal__content {
        padding: 5px;
        border-radius: 10px;
        width: 300px;
    }

    .modal__title, .modal__description {
        padding: 10px;
        margin-bottom: 10px;
        font-size: 18px;
    }
}


