@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&family=Roboto:wght@300;500&display=swap');

h1 {
    font-size: 92px;
    margin: 0;
    margin-top: 60px;
    text-align: center;
    padding: 10px;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 42px;
    margin: 0;
    text-align: center;
    padding: 10px;
}

.buttons {
    margin: 0 auto;
    margin-top: 30px;
    width: 400px;
    display: flex;
    justify-content: space-around;
}

.button {
    padding: 20px;
    background: none;
    border: 1px solid black;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 24px;
    cursor: pointer;
    color: #000;
    text-decoration: none;
    text-align: center;
    transition: all .3s linear;
}

.button:hover {
    transform: scale(1.1);
}

.heart.active {
    animation-name: heart;
    animation-duration: 1s;
}

@keyframes heart {
    0% {
        color: black;
    }
    50% {
        color: tomato;
        transform: scale(1.4);
    }
    100% {
        color: black;
    }
}

@media (max-width: 930px) and (min-width: 470px) {
    h1 {
        font-size: 76px;
    }

    h2 {
        font-size: 36px;
        margin: 0 10px;
    }

    .buttons {
        margin-top: 10px;
    }
}

@media (max-width: 469px) {
    h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 24px;
        margin: 0 10px;
    }

    .button {
        padding: 15px;
        font-size: 22px;
    }
}