.recipe-container-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.recipe-container-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.image {
    width: 350px;
}

.image img {
    max-width: 100%;
    height: auto;
    display: block;
}

.recipe-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 350px;
    overflow: hidden;
}

.dish-info {
    padding: 0 10px;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 18px;
}

.dish-name {
    margin: 5px 0;
}

@media (max-width: 930px) and (min-width: 469px) {
    .recipe-container-row {
        flex-direction: column;
    }

    .image {
        width: 300px;
    }
    
    .recipe-info {
        max-width: 300px;
    }

    .dish-info {
        font-size: 16px;
    }
}

@media (max-width: 469px) {
    .recipe-container-row {
        flex-direction: column;
    }

    .image {
        width: 250px;
    }
    
    .recipe-info {
        max-width: 250px;
    }

    .dish-info {
        font-size: 14px;
    }
}